<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="godok">
	<select id="viewLocationList"
		resultType="cloud.member.LocationVO">
		select * from location where location_time &lt;= SYSDATE -3
	</select>
	<select id="viewEphone" resultType="cloud.member.EphoneVO">
		select * from ephone where
		member_id = #{member_id}
	</select>
	<select id="viewGodokAlarmList" resultType="cloud.member.GodokVO">
		select * from godok_alarm
	</select>

</mapper>