<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="setting">
	<select id="checkAlarm" resultType="String">
		select option_alarm from
		option_table where member_id = #{member_id}
	</select>

	<select id="checkNickname" resultType="cloud.member.MemberVO">
		select member_nickname
		from member where member_nickname = #{member_nickname}
	</select>
	<update id="changeNickname">
		update member set member_nickname =
		#{member_nickname} where member_id = #{member_id}
	</update>
	<delete id="deleteAccount">
		delete from member where member_id = #{member_id}
		and
		member_pw = #{member_pw}
	</delete>
	<insert id="insertPw">

		MERGE
		INTO option_table a
		USING dual
		ON (a.MEMBER_ID =
		#{member_id})
		WHEN MATCHED THEN
		UPDATE
		SET a.OPTION_LOCK_PW =
		#{option_lock_pw}
		WHEN NOT MATCHED THEN
		INSERT (a.MEMBER_ID,
		a.OPTION_LOCK_PW)
		VALUES ( #{member_id}, #{option_lock_pw})
	</insert>
	<select id="inquirePw" resultType="cloud.setting.OptionVO">
		SELECT
		option_table.option_lock_pw
		FROM option_table
		JOIN member ON
		option_table.member_id = member.member_id
		WHERE member.member_id =
		#{member_id}
	</select>
	<insert id="insertPattern">
		MERGE
		INTO option_table a
		USING dual
		ON (a.MEMBER_ID =
		#{member_id})
		WHEN MATCHED THEN
		UPDATE
		SET a.OPTION_LOCK_PATTERN_PW =
		#{option_lock_pattern_pw}
		WHEN NOT MATCHED THEN
		INSERT (a.MEMBER_ID,
		a.OPTION_LOCK_PATTERN_PW)
		VALUES ( #{member_id},
		#{option_lock_pattern_pw})
	</insert>
	<select id="inquirePattern" resultType="cloud.setting.OptionVO">
		SELECT
		option_table.option_lock_pattern_pw
		FROM option_table
		JOIN member ON
		option_table.member_id = member.member_id
		WHERE member.member_id =
		#{member_id}
	</select>
	<update id="deletePw">
		update option_table set option_lock_pw = null where
		member_id = #{member_id}
	</update>
	<update id="deletePattern">
		update option_table set option_lock_pattern_pw = null
		where member_id = #{member_id}
	</update>
	<update id="updatePw">
		UPDATE option_table
		SET option_lock_pw = null,
		option_lock_pattern_pw = null
		WHERE member_id = #{member_id}
	</update>

	<select id="viewOption" resultType="cloud.setting.OptionVO">
		select * from option_table
		where member_id = #{member_id}
	</select>
	<update id="updateAlarm">
		UPDATE option_table
		SET option_alarm = CASE
		WHEN option_alarm = 'N' THEN 'Y'
		WHEN option_alarm = 'Y' THEN 'N'
		END
		WHERE member_id = #{member_id}
	</update>
</mapper>