<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="setting">
	<select id="checkNickname" resultType="cloud.member.MemberVO">
		select member_nickname
		from member where member_nickname = #{member_nickname}
	</select>
	<update id="changeNickname">
		update member set member_nickname =
		#{member_nickname} where member_id = #{member_id}
	</update>
	<delete id="deleteAccount">
		delete from member where member_id = #{member_id}
		and
		member_pw = #{member_pw}
	</delete>
	<insert id="insertPw">
		insert into option_table (option_lock_pw, member_id)
		values (#{option_lock_pw}, #{member_id})
	</insert>
	<select id="inquirePw" resultType="cloud.setting.OptionVO">
		SELECT
		option_table.option_lock_pw
		FROM option_table
		JOIN member ON option_table.member_id = member.member_id
		WHERE member.member_id = #{member_id}
	</select>
	<insert id="insertPattern">
		insert into option_table (option_lock_pattern_pw, member_id)
		values (#{option_lock_pattern_pw}, #{member_id})
	</insert>
	<select id="inquirePattern" resultType="cloud.setting.OptionVO">
		SELECT
		option_table.option_lock_pattern_pw
		FROM option_table
		JOIN member ON option_table.member_id = member.member_id
		WHERE member.member_id = #{member_id}
	</select>
</mapper>