<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vi">
	<select id="gender" resultType="cloudWeb.visual.MemberVO">
		SELECT '여자' AS gender, COUNT(*)
		AS population FROM member WHERE
		member_gender = '여'
		UNION ALL
		SELECT '남자'
		AS gender, COUNT(*) AS population FROM member WHERE
		member_gender = '남'
	</select>

	<select id="age" resultType="cloudWeb.visual.MemberVO">
	<![CDATA[
		select '40대 미만' as age, count(*) as
		population
		from member
		where extract(year from sysdate) - extract(year from member_birth) < 40
		union all
		select '40대' as age, count(*) as population
		from member
		where extract(year from sysdate) - extract(year from member_birth) >= 40
		and extract(year from sysdate) - extract(year from member_birth) < 50
		union all
		select '50대' as age, count(*) as population
		from member
		where extract(year from sysdate) - extract(year from member_birth) >= 50
		and extract(year from sysdate) - extract(year from member_birth) < 60
		union all
		select '60대' as age, count(*) as population
		from member
		where extract(year from sysdate) - extract(year from member_birth) >= 60
		and extract(year from sysdate) - extract(year from member_birth) < 70
		union all
		select '70대' as age, count(*) as population
		from member
		where extract(year from sysdate) - extract(year from member_birth) >= 70
		and extract(year from sysdate) - extract(year from member_birth) < 80
		union all
		select '80대 이상' as age, count(*) as population
		from member
		where extract(year from sysdate) - extract(year from member_birth) >= 80
		and extract(year from sysdate) - extract(year from member_birth) < 200
		]]>
	</select>
</mapper>